body {
  font-family: "Segoe UI", Arial, sans-serif;
  line-height: 1.4;
  color: #444;
  background: #fff;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 80%;
  margin: 0 auto;
}

.inner {
  width: 100%;
  padding: 8rem 10px 4rem;
}

.menuContainer {
  direction: rtl;
  width: 100%;
  margin-bottom: 20px;

  display: flex;
  flex-flow: column;
}

.optionContainer {
  display: flex;
  align-items: baseline;
  width: 35%;
}

.mainInputContainer {
  display: flex;
  align-items: baseline;
}

.mainInputForm {
  display: inline-flex;
  width: 90%;
}

.minorSelect {
  font-size: 1em;
  margin: 10px 5px 10px 5px;
  min-width: 90%;

  border-width: 0;
  border-radius: calc(0.5 * 100px);
}

.inputTitle {
  margin-left: 10px;
}

.inputContainer {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  border-radius: calc(0.5 * 100px);
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.38);
  justify-content: start;
  padding-left: 15px;
}

.buttonContainer {
  border-radius: calc(0.5 * 100px);
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.38);
  margin: 0 15px 20px 0;
}

.input-text {
  font-size: 1rem;
  font-weight: 400;
  width: 85%;
  margin-right: 20px;
  padding-right: 10px;
  border-radius: calc(0.5 * 100px);
}

.input-text::placeholder {
  color: #000;
}

.input-submit {
  background: transparent;
  color: #5b5b5b;
  text-transform: capitalize;
  cursor: pointer;
  font-weight: bolder;
  font-size: medium;
  margin: 5px 5px 5px 5px;
}

.input-text,
.input-submit {
  height: 45px;
  outline: none;
  border: none;
  margin: 5px 10px 5px 10px;
}
